/Vagrantfile
# Ignore dependencies
vendor/
composer.phar

# Ignore Selenium JAR file:
selenium-server-standalone-*

# Ignore IDEs
nbproject/

# Items added by Laravel installation
/node_modules
Homestead.yaml
Homestead.json
.env
/bower_components
/public/assets
/public/build
.vagrant
